:root {
    --background: #ffffff;
    --text-color: #000000;
    --purple: #540bff;
    --hover-color: lightgray;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --text-color: #e1e1e1;
        --hover-color: #3c3c3c;
    }
}

body {
    background-color: var(--background);
    color: var(--text-color);
    box-sizing: border-box;
}

.looper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    max-width: 600px;
}


@media (max-width: 767px) {
    .looper {
        padding: 20px;
    }
}

iframe {
    width: 100%;
}

input {
    width: -webkit-fill-available;
    width: -moz-available;
    margin-bottom: 10px;
    background-color: var(--background);
    color: var(--text-color) !important;
}

input[type="number"],
input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    color: #333;
}

input[type="number"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.slider {
    text-align: left;
    display: flex;
    align-items: center;
    height: 25px;
    border: 2px solid var(--purple);
    background-color: var(--background);
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.slider>div {
    height: 0px;
    width: 100%;
    position: relative;
}

.slider input[type="range"] {
    margin: 0;
    height: 0px;
    position: absolute;
    top: 0;
    appearance: none;
    background-color: transparent;
}

.slider input[type="range"]::-webkit-slider-runnable-track {
    height: 0px;
    background-color: #fff;
}

.slider input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #000000;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: -10px;
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
    background-color: var(--hover-color);
    transform: scale(1.4);
}

.slider input[type="range"]::-moz-range-track {
    height: 0px;
    background-color: #fff;
}

.slider input[type="range"]::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #000000;
    cursor: pointer;
    transition: transform 0.2s;
}

.slider input[type="range"]::-moz-range-thumb:hover {
    background-color: var(--hover-color);
    transform: scale(1.4);
}

button {
    padding: 1em 2em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: transparent;
    color: var(--purple);
    border: 1px solid #cecece;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: var(--hover-color);
}

.time-input-container {
    position: relative;
}

.time-input-container input[type="text"] {
    padding-right: 40px;
    /* Add space for arrow buttons on the right */
}

.time-input-container .increment-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    /* Adjust the position of arrow buttons */
    transform: translateY(-50%);
    cursor: pointer;
}

.time-input-container .increment-arrow.up {
    top: 20%;
    /* Adjust the position of up arrow button */
}

.time-input-container .increment-arrow.down {
    top: 80%;
    /* Adjust the position of down arrow button */
}